# Dependencies
node_modules/
.pnp
.pnp.js

# Build and Bundles
dist/
build/
*.log

# Environment & OS
.DS_Store
Thumbs.db
.env
.env.local

# IDE
.vscode/
.idea/

# Local SQLite WAL & lock files
*.db-shm
*.db-wal
